body {
  background: linear-gradient(
    89deg,
    rgb(253, 220, 155) 26.2%,
    rgb(255, 215, 165) 48.5%
  );
}
.App {
  max-width: 600px;
  margin: 30px auto;
  background-color: #df7861;
  border: 1px solid #df7861;
  border-radius: 12px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 25%);
  padding: 16px;
  max-width: 545px;
  min-height: 580px;
}
.App h1 {
  color: white;
  font-size: 28px;
  text-align: center;
}
.TaskForm input {
  padding: 13px;
}
.Task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background-color: #df7861;
  border: 1px solid white;
  font-size: 17px;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
